{% extends "base.html" %}

{% block title %} J-Weather - About {% endblock %}

{% block main %}
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <h1 class="display-3">About me.</h1>
            </div>
        </div>
        <hr class="my-1"/>
        <div class="row">
            <div class="col">
                <blockquote class="blockquote text-right">
                    <p class="mb-0">Una obra de arte como ninguna otra.</p>
                    <footer class="blockquote-footer">James Row, <cite title="Source Title">New York Times</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>

{% endblock %}