{% extends "base.html" %}

{% block title %} J-Weather {% endblock %}

{% block main %} 

<hr>
<div class="container">
        <div class="row">
            <div class="col-6 py-3 px-lg-2" style="font-size:xx-large">This is the current weather in {{ city }}:</div>
            <div class="col-sm">
                <div class="jumbotron shadow text-center">
                    <img src="{{ image }}" alt="{{ description }}">
                    <h1 style="font-size:4em;">{{ temp }}°C</h1>
                    <p><b>What a wonderful day!</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}