{% extends "base.html" %}

{% block title %} J-Weather - About {% endblock %}

{% block main %}
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <h1 class="display-3">Oops!</h1>
            </div>
        </div>
        <hr class="my-1" />
        <div class="row">
            <div class="col">
                <p> We have no weather information for "{{ location }}" </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}